<div class="container-fluid p-0 landing">
        <img class="img img-fluid position-absolute" src="../../assets/hoja.jpg" alt="">

        <div class="conteiner position-relative d-flex justify-content-center align-items-center parrafo">  
            <div class="position-fixed">
                <div class=" m-3 text-dark oscuro">
                    <div class="d-flex justify-content-center ">
                        <h2 class="m-3 mb-5 text-light">WEB BUDGET APP</h2>
                    </div>
                    <p class="justify-content-center text-light">Diseñamos tu sitio web con funcionalidades a medida, Pruébalo ahora!</p>
                    <div class="d-flex justify-content-center">
                        <a href="home"><button class="btn btn-warning m-3">Calcular presupuesto</button></a>
                    </div>
                
                </div>
            </div>
        </div>
    
</div>
