
<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class="navbar-item m-2">
            <a class="nav-link" routerLink="" routerLinkActive="active" >Inicio</a> 
        </li>
        <li class="navbar-item m-2">
            <a class="nav-link" [routerLink]="['/home']" 
            [queryParams]="{paginaWeb: 'false', campaniaSeo: 'false', campaniaAds: 'false', nPaginas: 1, nIdiomas: 1}"
            routerLinkActive="active">Calcular Presupuesto</a> 
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>